
<div id="map" style="width:400px; height:500px;"></div>

<script>

  var cityhall = new naver.maps.LatLng(<%= @detail.mlat %>, <%= @detail.mlong %>);

  var map = new naver.maps.Map('map', {
    center: new naver.maps.LatLng(<%= @detail.mlat %>, <%= @detail.mlong %>),
    zoom: 10
  });

  var contentString = [
    '<div class="iw_inner">',
    '   <h3><%= @detail.name %></h3>',
    '   <p><%= @detail.address %><br>',
    '       <img src="./img/hi-seoul.jpg" width="55" height="55" alt="서울시청" class="thumb" /><br>',
    '       02-120 | 공공,사회기관 > 특별,광역시청<br>',
    '       <a href="http://www.seoul.go.kr" target="_blank">www.seoul.go.kr/</a>',
    '   </p>',
    '</div>'
  ].join('');

  var marker = new naver.maps.Marker({
    map: map,
    position: cityhall
  });

  var infowindow = new naver.maps.InfoWindow({

    content: contentString,

    backgroundColor: "#eee",
    borderColor: "#2db400",
    borderWidth: 0,
    anchorSize: new naver.maps.Size(30, 30),
    anchorSkew: true,
    anchorColor: "#eee",

    pixelOffset: new naver.maps.Point(20, -20)
  });

  naver.maps.Event.addListener(marker, "click", function(e) {
    if (infowindow.getMap()) {
      infowindow.close();
    } else {
      infowindow.open(map, marker);
    }
  });

</script>


